
h1 {
    text-align: center;
    font-size: 60px;
}

table {
    margin: auto;
}

td {
    background-color: #ba7a3a;
    width: 80px;
    height: 80px;
    text-align: center;
}

.noChecker {
    background-color: #f0d2b4;
}

.black-checker {
    width: 65px;
    height: 65px;
    background-color: black;
    border: 5px solid white;
    border-radius: 50px;
    margin: auto;
    cursor: pointer;
}

.red-checker {
    width: 65px;
    height: 65px;
    background-color: red;
    border: 5px solid white;
    border-radius: 50px;
    margin: auto;
    cursor: pointer;
}

.red-turn {
    color: red;
    font-size: 45px;
    text-align: center;
}

.black-turn {
    color: black;
    font-size: 45px;
    text-align: center;
}

